@model FilmWebApp_med_MVC.Models.Film_Nomineringer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Film_Nomineringer</h4>
    <hr />
    <dl class="dl-horizontal">          
             En film er et kompliceret netværk af elementer. Filmen har en horisontal og vertikal opbygning, et dramaturgisk forløb og et netværk af personer,
            holdninger og temaer. Filmens idé, indhold, dramaturgi, udtryk og genre skal understøtte hinanden for at give tilskueren en sammenhængende oplevelse og forståelse. 
          </dl>
</div>
<p>
   
   <br> @Html.ActionLink("Back to List", "Index")
</p>
